<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ke.clipboard.dao.CopyTextDao">

    <select id="find" resultType="com.ke.clipboard.model.CopyText">
        select * from message order by add_time desc limit  #{limitCount}
    </select>
    <select id="insert" resultType="com.ke.clipboard.model.CopyText">
        insert into message (msg,add_time) VALUES (#{msg},#{addTime})
    </select>
    <select id="deletePreviousData" resultType="com.ke.clipboard.model.CopyText">
        delete from message where add_time &lt; #{deleteDate};
    </select>
    <select id="query" resultType="com.ke.clipboard.model.CopyText" parameterType="String">
        select * from message
         <where>
            <if test="msg != null and msg != ''">
                AND msg like CONCAT('%', #{msg} + '%');
            </if>
         </where>
    </select>
</mapper>
