<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ke.clipboard.dao.CopyTextDao">
    <resultMap id="copyTextMap" type="com.ke.clipboard.model.CopyText">
        <result property="id" column="id"/>
        <result property="msg" column="msg"/>
        <result property="addTime" column="add_time"/>
        <result property="isMarked" column="is_marked"/>
    </resultMap>

    <select id="find" resultType="com.ke.clipboard.model.CopyText">
        select id,msg,add_time as addTime,is_marked as isMarked from message order by add_time desc limit  #{limitCount}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.ke.clipboard.model.CopyText">
        insert into message (msg,add_time) VALUES (#{msg},#{addTime})
    </insert>
    <select id="deletePreviousData" resultType="com.ke.clipboard.model.CopyText">
        delete from message where add_time &lt; #{deleteDate};
    </select>
    <select id="query" resultType="com.ke.clipboard.model.CopyText" parameterType="String">
        select * from message
         <where>
            <if test="msg != null and msg != ''">
                AND msg like CONCAT('%', #{msg} + '%');
            </if>
         </where>
    </select>

    <select id="queryById" resultType="com.ke.clipboard.model.CopyText">
        select id,msg,add_time as addTime,is_marked as isMarked from message
        <where>
            <if test="id != null">
                AND id = #{id};
            </if>
        </where>
    </select>

    <update id="update" >
        UPDATE message set is_marked = #{isMarked} where id = #{id}
    </update>

    <select id="queryMarked" resultType="com.ke.clipboard.model.CopyText">
        select id,msg,add_time as addTime,is_marked as isMarked from message
            where is_marked = 1 order by add_time desc limit  #{count}
    </select>
</mapper>
